@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 50 67% 94%; /* #FAF8E7 */
    --foreground: 240 10% 3.9%;
    --card: 50 30% 98%;
    --card-foreground: 240 10% 3.9%;
    --popover: 50 30% 98%;
    --popover-foreground: 240 10% 3.9%;
    --primary: 125 33% 74%; /* #A7D1AB */
    --primary-foreground: 125 25% 15%;
    --secondary: 125 33% 88%;
    --secondary-foreground: 125 25% 15%;
    --muted: 125 33% 88%;
    --muted-foreground: 240 5% 45.1%;
    --accent: 37 65% 59%; /* #DFA353 */
    --accent-foreground: 37 65% 5%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 125 20% 80%;
    --input: 125 20% 85%;
    --ring: 37 65% 59%;
    --radius: 0.8rem;
  }

  .dark {
    --background: 240 10% 3.9%;
    --foreground: 0 0% 98%;
    --card: 240 10% 3.9%;
    --card-foreground: 0 0% 98%;
    --popover: 240 10% 3.9%;
    --popover-foreground: 0 0% 98%;
    --primary: 125 33% 74%;
    --primary-foreground: 125 25% 15%;
    --secondary: 240 3.7% 15.9%;
    --secondary-foreground: 0 0% 98%;
    --muted: 240 3.7% 15.9%;
    --muted-foreground: 0 0% 63.9%;
    --accent: 37 65% 59%;
    --accent-foreground: 37 65% 5%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 3.7% 15.9%;
    --input: 240 3.7% 15.9%;
    --ring: 37 65% 59%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
